<div class="" *ngIf="isHRRole || isAdminRole">
    ﻿<h3 class="card-header card bg-primary text-white" style="text-align: left;">Reports</h3>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-5">
                <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
            </div>
        </div>
        <div class="form-row">
            <table  class="table" id="excel-table">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Date of Hire</th>
                  <th>Citizenship</th>
                  <th>Visa Category</th>
                  <th>Expiration Date</th>
                  <th>Earliest Renewal Date</th>
                  <th>Latest Renewal Date</th>
                  <th>Job Title</th>
                  <th>Salary</th>
                  <th>Client Name</th>
                  <th>Employment Location</th>
                  <th>Project End Date</th>
                </tr>
                  <tr *ngFor="let d of listOfUser | filter:searchedKeyword;;  even as isEven"
                  [ngStyle]="{ background: isEven ? 'lightblue' : 'white' }" >
                  <td>{{ d.lastName }}</td>
                  <td>{{ d.firstName }}</td>
                  <td>{{ d.dateofRehire  | mMDDYYYYDate }}</td>
                  <td>{{ d.country }}</td>
                  <td>{{ d.visaCategory }}</td>
                  <td>{{ d.visaExpDate  | mMDDYYYYDate }}</td>
                  <td>{{ d.visaEarliestRenewalDate  | mMDDYYYYDate }}</td>
                  <td>{{ d.visaLatestRenewalDate | mMDDYYYYDate  }}</td>
                  <td>{{ d.titleOfEmpOrAuthorizedRepresentative }}</td>
                  <td>{{ d.salary }}</td>
                  <td>{{ d.clientName }}</td>
                  <td>{{ d.employmentLocation }}</td>
                  <td>{{ d.projectEndDate | mMDDYYYYDate }}</td>
                  </tr>
              </table> 
        </div>
        <div class="form-row">
            <div class="form-group">
                <button type="button" (click)="downloadExcel()" class="btn btn-warning float-right" >Excel Report</button>
            </div>
        </div>
    </div>
</div>

<div class="card m-3" *ngIf="isEmployeeRole">
    ﻿<h3 class="card-header card bg-primary text-white" style="text-align: left;">Reports</h3>
    <div class="card-body" style="text-align: left; color: black;">
       
        <div class="form-row">
            <table  class="table" >
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Hire</th>
                    <th>Citizenship</th>
                    <th>Visa Category</th>
                    <th>Expiration Date</th>
                    <th>Earliest Renewal Date</th>
                    <th>Latest Renewal Date</th>
                    <th>Job Title</th>
                    <th>Salary</th>
                    <th>Client Name</th>
                    <th>Employment Location</th>
                    <th>Project End Date</th>
                </tr>
                  <tr *ngFor="let d of listOfUser | filter:searchedKeyword;;  even as isEven"
                  [ngStyle]="{ background: isEven ? 'lightblue' : 'white' }" >
                  <td>{{ d.lastName }}</td>
                  <td>{{ d.firstName }}</td>
                  <td>{{ d.dateofRehire |  mMDDYYYYDate }}</td>
                  <td>{{ d.country }}</td>
                  <td>{{ d.visaCategory }}</td>
                  <td>{{ d.visaExpDate | mMDDYYYYDate }}</td>
                  <td>{{ d.visaEarliestRenewalDate | mMDDYYYYDate }}</td>
                  <td>{{ d.visaLatestRenewalDate|  mMDDYYYYDate }}</td>
                  <td>{{ d.titleOfEmpOrAuthorizedRepresentative }}</td>
                  <td>{{ d.salary }}</td>
                  <td>{{ d.clientName }}</td>
                  <td>{{ d.employmentLocation }}</td>
                  <td>{{ d.projectEndDate | mMDDYYYYDate }}</td>
                  </tr>
              </table> 
        </div>
        
    </div>
</div>

<app-footer></app-footer>


