   ﻿<h6 class="card-header card bg-success text-white" style="text-align: left;">Address Information</h6>﻿
   <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Apt. Number</label><br>
                    <input type="text" formControlName="aptNumber" class="form-control" 
                    placeholder="Apt. Number"
                    
                    [(ngModel)]="address_aptNumber"
                     />
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Street Number and Name</label><br>
                    <input type="text" formControlName="sreetNumberAndName" class="form-control" 
                    placeholder="Street Number and Name"
                    
                    [(ngModel)]="address_sreetNumberAndName"
                    />
                </div>
            </div><br>
            <div class="form-row">
                    <div class="form-group col-5">
                        <label>Area / Locality</label><br>
                        <input type="text" formControlName="areaLocality" class="form-control" 
                        placeholder="Area / Locality"
                       
                        [(ngModel)]="address_areaLocality"
                        />
                    </div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-5">
                        <label>ZIP Code</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="text" formControlName="pinCodeOrZipCode" class="form-control" 
                        placeholder="ZIP Code"
                        [ngClass]="{ 'is-invalid': submitted && f.pinCodeOrZipCode.errors }"
                        [(ngModel)]="address_pinCodeOrZipCode"
                        />
                    </div>
            </div><br>
            <div class="form-row">
                    <div class="form-group col-4">
                        <label>Country</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <select [(ngModel)]="address_country" formControlName="country" class="form-control"
                        (click)="onChangeCountry($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <option value="">Select Country</option>
                            <option *ngFor="let c of countryList" [value]="c.name">{{c.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Country is required</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>State</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <select [(ngModel)]="address_state" formControlName="state" class="form-control"
                        (click)="onChangeState($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                            <option value="">Select State</option>
                            <option *ngFor="let s of stateList" [value]="s.name">{{s.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Town / City</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <select [(ngModel)]="address_townCity" formControlName="townCity" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.townCity.errors }"
                        >
                        <option value="">Select Town/City</option>
                        <option *ngFor="let c of cityList" [value]="c.name">{{c.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.townCity.errors" class="invalid-feedback">
                            <div *ngIf="f.townCity.errors.required">townCity is required</div>
                        </div>
                    </div>
                </div><br>
                <div class="form-row">
                        <div class="form-group col-5">
                            <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                            </button>
                        </div>
                        <div class="form-group col-1"></div>
                        <div class="form-group col-5">
                        <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                    </div>
                </div>
        </form>