<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 mt-5">
            <div class="card m-3">
                <h3 class="card-header">
                    Reset Password
                </h3>
                <div class="card-body">
                    <div *ngIf="tokenStatus == TokenStatus.Validating">
                        Validating token...
                    </div>
                <div *ngIf="tokenStatus == TokenStatus.Invalid">
                Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
                </div>
                    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- *ngIf="tokenStatus == TokenStatus.Valid" -->
                    <div class="form-group col-5">
                        <label>Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                         />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        <div *ngIf="f.password.errors.pattern">Minimum eight and maximum 40 characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                        </div>
                    </div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-5">
                        <label>Confirm Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="password" formControlName="confirmPassword" class="form-control"  placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                        <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Reset Password
                                </button>
                            <a routerLink="../login" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>