<div class="container-fluid" style="position: absolute; top: 0%; width: 100%; height: 10px;">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group col text-center">
                <div class="form-group">
                    <img src="../../assets/images/immigration-logo.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="140">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
            <!-- <div class="form-group col text-center">
                <a routerLink="../login" class="btn btn-link pr-0">Logout
                    <img src="../../assets/images/logout_4.jpg" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
                    </a>

            </div> -->
            <!-- <div class="form-group col text-center">
                <a routerLink="../login" class="btn btn-link pr-0">
                    <img src="../../assets/images/user.png" class="rounded-circle" alt="Cinque Terre" width="30" height="30">
                    <p>username</p>
                </a>
            </div> -->
            <div class="container">
                                     <br>         
                <div class="dropdown">
                    <br>
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="../../assets/images/user.png" class="rounded-circle" alt="Cinque Terre" width="30" height="30">
                  <span class="caret"></span></a>
                  <br>
                  <ul class="dropdown-menu" style="text-align:center ;">
                    <li><a routerLink="../change-user-password">Change Password</a></li>
                    <li><a routerLink="../login">Logout</a></li>
                    
                  </ul>
                </div>
              </div>
        </div>
    </div>
    <!-- <hr class="style1"> -->
</div>
