<div class="container-fluid" style="position: absolute; bottom: 0%; width: 100%; height: 0px;">
    <hr class="style1">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group col text-center">
                <div class="column one">
                    <a id="back_to_top" ><i class="icon-up-open-big"></i></a>					
                    <!-- Copyrights -->
                    <div class="copyright">
                        © 2019 Retelzy. All Rights Reserved
                    </div>					
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="marker iso">
                <span class="logo">
                    <img src="../../assets/images/iso-logo.png">
                </span>
                ISO 27001
                <br>
                Data Center
            </div>
        </div>
        <div class="col-sm-4">
            <div class="marker security">
                <span class="logo">
                <img src="../../assets/images/ssl.png">
                </span>
                SSL Certified Site
                <br>
                128-bit encryption
            </div>
        </div>
    </div>
</div>
