<div class="card m-3">
    ﻿<h3 class="card-header card bg-primary text-white" style="text-align: left;">User Accounts Information</h3>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-5">
                <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
            </div>
        </div>
        <div class="form-row">
        <table  class="table" >
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Roles</th>
              <th>Active</th>
              <th>Organization</th>
              <th>Account</th>
              
            </tr>
              <tr *ngFor="let d of listOfUser | filter:searchedKeyword;  even as isEven"
              [ngStyle]="{ background: isEven ? 'lightblue' : 'white' }" >
                  <td>{{ d.firstName }}</td>
                  <td>{{ d.lastName }}</td>
                  <td>{{ d.email }}</td>
                  <td>{{ d.roles }}</td>
                  <td *ngIf="d.enabled">
                      <button type="button" class="btn btn-primary" 
                        (click)="enableAccount(d.enabled, d.email)" data-toggle="modal" >
                        Yes
                      </button>
                   </td>
                   <td *ngIf="!d.enabled">
                    <button type="button" class="btn btn-primary" 
                      (click)="enableAccount(d.enabled, d.email)" data-toggle="modal" >
                      No
                    </button>
                 </td>
                   <td>
                      <button type="button" class="btn btn-primary" 
                        (click)="fillOrganization(d.id)" data-toggle="modal" data-target="#myModal">
                        Details
                    </button>
                   </td>
                   <td>
                      <button type="button" class="btn btn-primary" 
                        (click)="deleteUser(d.email)" data-toggle="modal">
                        Delete 
                      </button>
                   </td>
              </tr>
          </table> 
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- Modal body -->
      <div class="modal-body">
        <app-organization></app-organization>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


