<app-header></app-header>
  <div class="container-fluid" style="position: absolute; top: 13%; width: 100%; height: 20px; text-align: center;">
    <div class="row">
      <div class="col-sm-2 ">
        </div>
        <div class="col-sm-2 " *ngIf="!isEmployeeRole">
            <div class="card m-3 ">
              <button type="button" class="btn btn-outline-primary" (click)="onRegister()">Register</button>
            </div>
        </div>

        <div class="col-sm-2 " *ngIf="!isEmployeeRole">
          <div class="card m-3 ">
            <button type="button" class="btn btn-outline-primary" (click)="onUsers()">Users</button>
          </div>
      </div>

        <div class="col-sm-2 " *ngIf="isEmployeeRole">
          <div class="card m-3 ">
            <button type="button" class="btn btn-outline-primary" (click)="onEmployee()">Employee Info</button>
          </div>
        </div>

        <div class="col-sm-2 " *ngIf="isEmployeeRole">
          <div class="card m-3 ">
            <button type="button" class="btn btn-outline-primary" (click)="onVisa()">Visa Info</button>
          </div>
        </div>

        <div class="col-sm-2 " *ngIf="isEmployeeRole">
          <div class="card m-3 ">
            <button type="button" class="btn btn-outline-primary" (click)="onReview()">Review</button>
          </div>
        </div>

        <div class="col-sm-2 " >
          <div class="card m-3 ">
            <button type="button" class="btn btn-outline-primary" (click)="onReports()">Reports</button>
          </div>
        </div>

        <div *ngIf="isRegister "class="col-sm-8 offset-sm-2 mt-5">
          <app-userprofile></app-userprofile>   
        </div>
  
        <div *ngIf="isEmployee "class="col-sm-8 offset-sm-2 mt-5">
          <app-employee></app-employee>   
        </div>

        <div *ngIf="isVisa "class="col-sm-8 offset-sm-2 mt-5">
          <app-visa></app-visa>  
        </div>

        <div *ngIf="isReview "class="col-sm-8 offset-sm-2 mt-5">
          <app-review></app-review>   
        </div>

        <div *ngIf="isUsers "class="col-sm-8 offset-sm-2 mt-5">
          <app-users></app-users>   
        </div>

        <div *ngIf="isReports "class="col-sm-8 offset-sm-2 mt-5">
          <app-report></app-report>   
        </div>
</div>
