<div class="card m-3">
    ﻿<h3 class="card-header card bg-primary text-white" style="text-align: left;">User Register</h3>
    <div class="card-body" style="text-align: left; color: black;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>First Name</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="First Name"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
						<div *ngIf="f.firstName.errors.pattern">Only Character allowed </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Last Name</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
						<div *ngIf="f.lastName.errors.pattern">Only Character allowed </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>E-Mail</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="email" class="form-control"  placeholder="E-Mail"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Role</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="roles" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.roles.errors }">
                        <option value="">Select Role</option>
                        <option value="admin">Admin</option>
                        <option value="hr">HR</option>
                        <option value="employee">Employee</option>
                    </select>
                    <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                        <div *ngIf="f.roles.errors.required">Roles is required</div>
                    </div>
                </div>
                </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                     />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                    <div *ngIf="f.password.errors.pattern">Minimum eight and maximum 40 characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Confirm Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="password" formControlName="confirmPassword" class="form-control"  placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div><br>
             <div class="form-row">
                <div class="form-group col-5">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>


