<div class="card m-3">
    <div *ngIf="!isEmpReview" class="form-row">
        <div   class="form-group col-6">
            <button type="button" class="btn btn-primary btn-block" 
            (click)="onEmployeeInfo()" >Employee Information</button>
        </div>
        <div  class="form-group col-6">
            <button type="button" class="btn btn-success btn-block" 
            (click)="onAddressInfo()" >Address Information</button>
        </div>
    </div>
    <div class="card-body" 
    *ngIf="isEmployeeInfo"
    style="text-align: left; color: black;">
    ﻿<h6 class="card-header card bg-primary text-white" style="text-align: left;">Employee Information</h6>﻿
    <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Last Name (Family Name)</label><br>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    [(ngModel)]="last_name"
                    />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>First Name (Given Name)</label><br>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="First Name"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                    [(ngModel)]="first_name"
                    />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Middle Initial</label><br>
                    <input type="text" formControlName="middleName" class="form-control" placeholder="Middle Initial"
                    [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }"
                    [(ngModel)]="emp_middleInitial"
                    />
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Other Last Names Used (if any)</label><br>
                    <input type="text" formControlName="otherlastName" class="form-control" placeholder="Other Last Names"
                    [ngClass]="{ 'is-invalid': submitted && f.otherlastName.errors }"
                    [(ngModel)]="emp_otherLastName"
                    />
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Employee's E-Mail Address</label><br>
                    <input type="text" formControlName="email" class="form-control"  placeholder="E-Mail"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    [(ngModel)]="email_id"
                    />
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Gender</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="gender" class="form-control"
                    [(ngModel)]="emp_gender"
                    [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Date of Birth</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="date" formControlName="dateofBirth" class="form-control" 
                    placeholder="Date of Birth"
                    [ngClass]="{ 'is-invalid': submitted && f.dateofBirth.errors }"
                    [(ngModel)]="emp_dateOfBirth"
                    />
                    <div *ngIf="submitted && f.dateofBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.dateofBirth.errors.required">
                            Date of Birth is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>U.S. Social Security Number</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="ssn" class="form-control"  placeholder="U.S. Social Security Number"
                    [ngClass]="{ 'is-invalid': submitted && f.ssn.errors }"
                    [(ngModel)]="emp_ssn"
                    />
                    <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                        <div *ngIf="f.ssn.errors.required">U.S. Social Security Number is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Employee's Telephone Number</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="telephoneNumber" class="form-control" placeholder="Employee's Telephone Number"
                    [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }"
                    [(ngModel)]="emp_telephoneNumber"
                    />
                    <div *ngIf="submitted && f.telephoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.telephoneNumber.errors.required" style="color: red;">Employee's Telephone Number is required</div>
                        <div *ngIf="f.telephoneNumber.errors?.pattern" style="color: red;">Only 10 digit Telephone number is allowed</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Mobile Number</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile Number"
                    [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }"
                    [(ngModel)]="emp_mobileNumber"
                    />
                    <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.mobileNumber.errors.required" style="color: red;">Mobile Number is required</div>
                        <div *ngIf="f.mobileNumber.errors?.pattern" style="color: red;">Only 10 digit Mobile number is allowed</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Alternate Mobile Number</label><br>
                    <input type="text" formControlName="alternateMobileNumber" class="form-control" placeholder="Alternate Mobile Number"
                    [ngClass]="{ 'is-invalid': submitted && f.alternateMobileNumber.errors }"
                    [(ngModel)]="emp_alternateMobileNumber"
                    />
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    
                </div>
            </div><br>
             <div class="form-row">
                <div class="form-group col-5">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body" 
    *ngIf="isAddressInfo"
    style="text-align: left; color: black;">
        <app-address></app-address> 
    </div>
</div>
<app-footer></app-footer>


