<div class="card m-3">
    <div *ngIf="!isEmpReview" class="form-row">
        <div class="form-group col-4">
            <button type="button" class="btn btn-primary btn-block" 
            (click)="onVisaInfo()" >Visa Information</button>
        </div>
        <div class="form-group col-4">
            <button type="button" class="btn btn-success btn-block" 
            (click)="onDocumentsInfo()" >Documents Information</button>
        </div>
        <div class="form-group col-4">
            <button type="button" class="btn btn-info btn-block" 
            (click)="onDocumentsUpload()" >Documents Upload</button>
        </div>
    </div>
    <div class="card-body" 
    *ngIf="isVisaInfo"
    style="text-align: left; color: black;">
    ﻿<h6 class="card-header card bg-primary text-white" style="text-align: left;">Visa Information</h6>﻿
    <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Is the employee a citizen of the United States?</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="isUSCitizen" class="form-control"
                    [(ngModel)]="visa_isUSCitizen"
                    [ngClass]="{ 'is-invalid': submitted && f.isUSCitizen.errors }">
                        <option value="">Choose</option>
                        <option value="Yes" >Yes</option>
                        <option value="No">No</option>
                    </select>
                    <div *ngIf="submitted && f.isUSCitizen.errors" class="invalid-feedback">
                        <div *ngIf="f.isUSCitizen.errors.required">Is US Citizen Field is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Is the employee a citizen of another country?</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="isNonUSCitizen" class="form-control"
                    [(ngModel)]="visa_isNonUSCitizen"
                    [ngClass]="{ 'is-invalid': submitted && f.isNonUSCitizen.errors }">
                        <option value="">Choose</option>
                        <option value="Yes" >Yes</option>
                        <option value="No">No</option>
                    </select>
                    <div *ngIf="submitted && f.isNonUSCitizen.errors" class="invalid-feedback">
                        <div *ngIf="f.isNonUSCitizen.errors.required">
                            Is Non US Citizen Field is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Is the employee a lawful permanent resident?</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="isEmplawfulPermanentResident" class="form-control"
                    [(ngModel)]="visa_isEmplawfulPermanentResident"
                    [ngClass]="{ 'is-invalid': submitted && f.isEmplawfulPermanentResident.errors }">
                        <option value="">Choose</option>
                        <option value="Yes" >Yes</option>
                        <option value="No">No</option>
                    </select>
                    <div *ngIf="submitted && f.isEmplawfulPermanentResident.errors" class="invalid-feedback">
                        <div *ngIf="f.isEmplawfulPermanentResident.errors.required">
                            Is the employee a lawful permanent resident is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Is the employee an alien authorized to work?</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <select formControlName="isAuthorizedToWork" class="form-control"
                    [(ngModel)]="visa_isAuthorizedToWork"
                    [ngClass]="{ 'is-invalid': submitted && f.isAuthorizedToWork.errors }">
                        <option value="">Choose</option>
                        <option value="Yes" >Yes</option>
                        <option value="No">No</option>
                    </select>
                    <div *ngIf="submitted && f.isAuthorizedToWork.errors" class="invalid-feedback">
                        <div *ngIf="f.isAuthorizedToWork.errors.required">Alien authorized to work is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>If employee is a lawful permanent resident, then Alien Registration Number/USCIS Number</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="permAlienRegNo" class="form-control" 
                    placeholder="Permanent residentAlien Registration Number/USCIS Number"
                    [ngClass]="{ 'is-invalid': submitted && f.permAlienRegNo.errors }"
                    [(ngModel)]="visa_permAlienRegNo"
                    />
                    <div *ngIf="submitted && f.permAlienRegNo.errors" class="invalid-feedback">
                        <div *ngIf="f.permAlienRegNo.errors.required">
                            Permanent residentAlien Registration Number/USCIS Number is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Alien authorized to work Alien Registration Number/USCIS Number, or</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="alienAuthToWorkRegNo" class="form-control" 
                    placeholder="Alien authorized to work Alien Registration Number/USCIS Number"
                    [ngClass]="{ 'is-invalid': submitted && f.alienAuthToWorkRegNo.errors }"
                    [(ngModel)]="visa_alienAuthToWorkRegNo"
                    />
                    <div *ngIf="submitted && f.alienAuthToWorkRegNo.errors" class="invalid-feedback">
                        <div *ngIf="f.alienAuthToWorkRegNo.errors.required">
                            Alien authorized to work Alien Registration Number/USCIS Number is required
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Alien authorized to work Form I-94 Admission Number, or</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="alienAuthToWorkI94AdmiNo" class="form-control" 
                    placeholder="Alien authorized to work Form I-94 Admission Number"
                    [ngClass]="{ 'is-invalid': submitted && f.alienAuthToWorkI94AdmiNo.errors }"
                    [(ngModel)]="visa_alienAuthToWorkI94AdmiNo"
                    />
                    <div *ngIf="submitted && f.alienAuthToWorkI94AdmiNo.errors" class="invalid-feedback">
                        <div *ngIf="f.alienAuthToWorkI94AdmiNo.errors.required">
                            Alien authorized to work Form I-94 Admission Number is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Alien authorized to work Foreign Passport Number</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="alienAuthToWorkForeignPassportNum" class="form-control" 
                    placeholder="Alien authorized to work Foreign Passport Number"
                    [ngClass]="{ 'is-invalid': submitted && f.alienAuthToWorkForeignPassportNum.errors }"
                    [(ngModel)]="visa_alienAuthToWorkForeignPassportNum"
                    />
                    <div *ngIf="submitted && f.alienAuthToWorkForeignPassportNum.errors" class="invalid-feedback">
                        <div *ngIf="f.alienAuthToWorkForeignPassportNum.errors.required">
                            Alien authorized to work Foreign Passport Number is required
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Alien authorized to work Foreign Passport Country of Issuance</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="alienAuthToWorkForeignPassportCountry" class="form-control"  
                    placeholder="Alien authorized to work Foreign Passport Country of Issuance"
                    [ngClass]="{ 'is-invalid': submitted && f.alienAuthToWorkForeignPassportCountry.errors }"
                    [(ngModel)]="visa_alienAuthToWorkForeignPassportCountry"
                    />
                    <div *ngIf="submitted && f.alienAuthToWorkForeignPassportCountry.errors" class="invalid-feedback">
                        <div *ngIf="f.alienAuthToWorkForeignPassportCountry.errors.required">
                            Alien authorized to work Foreign Passport Country of Issuance is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>If employee is an alien authorized to work, then expiration date, if applicable (mm/dd/yyyy)</label>
                   <br>
                    <input type="date" formControlName="authWorkExpDate" class="form-control" 
            
                    [(ngModel)]="visa_authWorkExpDate"
                    />
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label> Visa Category</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="visaCategory" class="form-control"  
                    placeholder=" Visa Category"
                    [ngClass]="{ 'is-invalid': submitted && f.visaCategory.errors }"
                    [(ngModel)]="visa_visaCategory"
                    />
                    <div *ngIf="submitted && f.visaCategory.errors" class="invalid-feedback">
                        <div *ngIf="f.visaCategory.errors.required">
                            Visa Category is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Visa Expiration Date</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="date" formControlName="visaExpDate" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.visaExpDate.errors }"
                    [(ngModel)]="visa_visaExpDate"
                    />
                    <div *ngIf="submitted && f.visaExpDate.errors" class="invalid-feedback">
                        <div *ngIf="f.visaExpDate.errors.required">
                            Visa Expiration Date is required
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Earliest Renewal Date</label>
                    <br>
                    <input type="date" formControlName="visaEarliestRenewalDate" class="form-control"  
                    [(ngModel)]="visa_visaEarliestRenewalDate"
                    />
        
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Latest Renewal Date</label>
                    <br>
                    <input type="date" formControlName="visaLatestRenewalDate" class="form-control" 
                    [(ngModel)]="visa_visaLatestRenewalDate"
                    />
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group">
                    <label>If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Title)</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="docTitle" class="form-control"  
                    placeholder="Document Title"
                    [ngClass]="{ 'is-invalid': submitted && f.docTitle.errors }"
                    [(ngModel)]="visa_docTitle"
                    />
                    <div *ngIf="submitted && f.docTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.docTitle.errors.required">
                            Document Title is required
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="form-row">
                <div class="form-group">
                    <label>If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Number)</label>
                    <span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="docNumber" class="form-control"  
                    placeholder="Document Number"
                    [ngClass]="{ 'is-invalid': submitted && f.docNumber.errors }"
                    [(ngModel)]="visa_docNumber"
                    />
                    <div *ngIf="submitted && f.docNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.docNumber.errors.required">
                            Document Number is required
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="form-row">
                <div class="form-group">
                    <label>If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. [Expiration Date (if any)]</label>
                    <br>
                    <input type="date" formControlName="docExpDate" class="form-control"  
                    [ngClass]="{ 'is-invalid': submitted && f.docExpDate.errors }"
                    [(ngModel)]="visa_docExpDate"
                    />
                </div>
            </div><br>
          
              <div class="form-row">
                <div class="form-group col-5">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body" 
    *ngIf="isDocumentsInfo"
    style="text-align: left; color: black;">
        <app-documents></app-documents>   
    </div>
    <div class="card-body" 
    *ngIf="isDocumentsUpload"
    style="text-align: left; color: black;">
        <app-documentsupload></app-documentsupload> 
    </div>
</div>
<app-footer></app-footer>


