<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
                <img src="../../assets/images/immigration-logo.jpg" class="rounded" alt="Cinque Terre">
                    <div class="form-group col text-center">
                        <h5>Immigrating to the United State</h5>
                        <img src="../../assets/images/retelzy-logo.png" class="rounded" alt="Cinque Terre" width="175" height="50">
                        <h6>Immigration is a product by Retelzy Pvt. Ltd. </h6>
                    </div>
        </div>
        <div class="col-sm-2">
            <div class="col-sm-2">
                &nbsp;
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-2">
                <div class="form-group col text-center">
                    &nbsp;
                    <br> <br> <br> <br> <br> <br> <br> <br> <br>

                    <!-- <img src="../../assets/images/RIS_1.png" class="rounded-circle" alt="Cinque Terre" width="275" height="150"> -->
                </div>
            </div>
            <div class="card m-3">
                <div class="card-header">
                    ﻿<h3>Login Account</h3>
                </div>
            <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="usr">Login ID :</label>
                    <input type="text" formControlName="email" class="form-control"  placeholder="Enter your Login ID"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password :</label>
                    <input type="password" formControlName="password" class="form-control"  placeholder="Enter your password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                   />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group col text-right">
                    <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                       
                         Log In
                    </button>
                </div>
            </form>
            </div>
        </div>
        </div>
        <div class="col-sm-2">
            <div class="col-sm-2">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>