<div class="card m-3">
    ﻿<h4 class="card-header card bg-primary text-white" style="text-align: left;">Review Employee Information</h4>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-10"></div>
            <div class="form-group col-2">
                <button type="button" class="btn btn-primary" 
                   data-toggle="modal" data-target="#employeeModal">
                  Edit
                  </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <div><label >Last Name (Family Name)</label> </div>
                <div><label >First Name (Given Name)</label> </div>
                <div><label >Middle Initial</label> </div>
                <div><label >Other Last Names Used (if any)</label> </div>
                <div><label >Date of Birth</label> </div>
                <div><label >Gender</label> </div>
                <div><label >U.S. Social Security Number</label> </div>
                <div><label >Employee's E-Mail Address</label> </div>
                <div><label >Employee's Telephone Number</label> </div>
                <div><label >Mobile Number</label> </div>
                <div><label >Alternate Mobile Number</label> </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5">
                <div><label >{{lastName}}</label> </div>
                <div><label >{{firstName}}</label> </div>
                <div><label >{{middleInitial}}</label> </div>
                <div><label >{{otherLastName}}</label> </div>
                <div><label >{{dateOfBirth | mMDDYYYYDate}}</label> </div>
                <div><label >{{gender}}</label> </div>
                <div><label >{{USSocSecNum}}</label> </div>
                <div><label >{{email}}</label> </div>
                <div><label >{{telephoneNumber}}</label> </div>
                <div><label >{{mobileNumber}}</label> </div>
                <div><label >{{alternateMobileNumber}}</label> </div>
            </div>
        </div><br>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="employeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <app-employee></app-employee>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

<div class="card m-3">
    ﻿<h4 class="card-header card bg-primary text-white" style="text-align: left;">Review Address Information</h4>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-10"></div>
            <div class="form-group col-2">
                <button type="button" class="btn btn-primary" 
                   data-toggle="modal" data-target="#addressModal">
                  Edit
                  </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <div><label >Apt. Number</label> </div>
                <div><label >Street Number and Name</label> </div>
                <div><label >ZIP Code</label> </div>
                <div><label >Area / Locality</label> </div>
                <div><label >Country</label> </div>
                <div><label >State</label> </div>
                <div><label >Town / City</label> </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5">
                <div><label >{{aptNumber}}</label> </div>
                <div><label >{{sreetNumberAndName}}</label> </div>
                <div><label >{{pinCodeOrZipCode}}</label> </div>
                <div><label >{{areaLocality}}</label> </div>
                <div><label >{{country}}</label> </div>
                <div><label >{{state}}</label> </div>
                <div><label >{{townCity}}</label> </div>
            </div>
        </div><br>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="addressModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <app-address></app-address>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

<div class="card m-3">
    ﻿<h4 class="card-header card bg-primary text-white" style="text-align: left;">Review Visa Information</h4>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-10"></div>
            <div class="form-group col-2">
                <button type="button" class="btn btn-primary" 
                   data-toggle="modal" data-target="#visaModal">
                  Edit
                  </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-8">
                <div><label >Is the employee a citizen of the United States?</label> </div>
                <div><label >Is the employee a citizen of another country?</label> </div>
                <div><label >Is the employee a lawful permanent resident?</label> </div>
                <div><label >Is the employee an alien authorized to work?</label> </div>
                <div><label >If employee is a lawful permanent resident, then Alien Registration Number/USCIS Number</label> </div>
                <div><label >Alien authorized to work Alien Registration Number/USCIS Number, or</label> </div>
                <div><label >Alien authorized to work Form I-94 Admission Number, or</label> </div>
                <div><label >Alien authorized to work Foreign Passport Number</label> </div>
                <div><label >Alien authorized to work Foreign Passport Country of Issuance</label> </div>
				<div><label >If employee is an alien authorized to work, then expiration date, if applicable (mm/dd/yyyy)</label> </div>
                <div><label >Visa Category</label> </div>
                <div><label >Visa Expiration Date</label> </div>
                <div><label >Earliest Renewal Date</label> </div>
                <div><label >Latest Renewal Date</label> </div>
                <div><label >If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Title)</label> </div>
                <div><label >If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization. (Document Number)</label> </div>
                <div><label >If the employee's previous grant of employment authorization has expired, provide the information for the document or receipt that establishes continuing employment authorization.  [Expiration Date (if any)] </label> </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-3">
                <div><label >{{isUSCitizen}}</label> </div>
                <div><label >{{isNonUSCitizen}}</label> </div>
                <div><label >{{isEmplawfulPermanentResident}}</label> </div>
                <div><label >{{isAuthorizedToWork}}</label> </div>
                <div><label >{{permAlienRegNo}}</label> </div>
                <div><label >{{alienAuthToWorkRegNo}}</label> </div>
                <div><label >{{alienAuthToWorkI94AdmiNo}}</label> </div>
                <div><label >{{alienAuthToWorkForeignPassportNum}}</label> </div>
                <div><label >{{alienAuthToWorkForeignPassportCountry}}</label> </div>
				<div><label >{{authWorkExpDate | mMDDYYYYDate}}</label> </div>
                <div><label >{{visa_visaCategory}}</label> </div>
                <div><label >{{visa_visaExpDate | mMDDYYYYDate}}</label> </div>
                <div><label >{{visa_visaEarliestRenewalDate | mMDDYYYYDate}}</label> </div>
                <div><label >{{visa_visaLatestRenewalDate | mMDDYYYYDate}}</label> </div>
                <div><label ></label> </div>
                <div><label >{{docTitle}}</label> </div>
                <div><label ></label> </div>
                <div><label >{{docNumber}}</label> </div>
                <div><label ></label> </div>
                <div><label >{{docExpDate | mMDDYYYYDate}}</label> </div>
            </div>
        </div><br>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="visaModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <app-visa></app-visa>
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>


<div class="card m-3">
    ﻿<h4 class="card-header card bg-primary text-white" style="text-align: left;">Review Documents Information</h4>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-10"></div>
            <div class="form-group col-2">
                <button type="button" class="btn btn-primary" 
                   data-toggle="modal" data-target="#documentsModal">
                  Edit
                  </button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <div><label >Document Title</label> </div>
                <div><label >Issuing Authority</label> </div>
                <div><label >Document Number</label> </div>
                <div><label >Expiration Date</label> </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5">
                <div><label >{{documentTitle}}</label> </div>
                <div><label >{{issuingAuthority}}</label> </div>
                <div><label >{{documentNumber}}</label> </div>
                <div><label >{{expDate| mMDDYYYYDate}}</label> </div>
            </div>
        </div><br>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="documentsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <app-documents></app-documents >
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

<div class="card m-3">
    ﻿<h4 class="card-header card bg-primary text-white" style="text-align: left;">Review Organization Information</h4>
    <div class="card-body" style="text-align: left; color: black;">
        <div class="form-row">
            <div class="form-group col-5">
                <div><label >Last Name of Employer or Authorized Representative</label> </div>
                <div><label >First Name of Employer or Authorized Representative</label> </div>
                <div><label >Employer's Business or Organization Name</label> </div>
                <div><label >Title of Employer or Authorized Representative</label> </div>
                <div><label >The Employee's first day of employment</label> </div>
                <div><label >Date of Rehire , if applicable</label> </div>
                <div><label >Salary</label> </div>
                <div><label >Client Name</label> </div>
                <div><label >Employment Location </label> </div>
                <div><label >Project End Date</label> </div>
                <div><label >Street Number and Name</label> </div>
                <div><label >ZIP Code</label> </div>
                <div><label >Country</label> </div>
                <div><label >State</label> </div>
                <div><label >Town / City </label> </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5">
                <div><label >{{lastNameOfEmpOrAuthorizedRepresentative}}</label> </div>
                <div><label >{{firstNameOfEmpOrAuthorizedRepresentative}}</label> </div>
                <div><label >{{empBusinessOrOrgName}}</label> </div>
                <div><label >{{titleOfEmpOrAuthorizedRepresentative}}</label> </div>
                <div><label >{{firstDayOfEmployment | mMDDYYYYDate}}</label> </div>
                <div><label >{{dateofRehire | mMDDYYYYDate}}</label> </div>
                <div><label >{{org_salary}}</label> </div>
                <div><label >{{org_clientName}}</label> </div>
                <div><label >{{org_employmentLocation}}</label> </div>
                <div><label >{{org_projectEndDate | mMDDYYYYDate}}</label> </div>
                <div><label >{{org_streetNumberAndName}}</label> </div>
                <div><label >{{org_pinCodeOrZipCode}}</label> </div>
                <div><label >{{org_country}}</label> </div>
                <div><label >{{org_state}}</label> </div>
                <div><label >{{org_townCity}}</label> </div>
            </div>
        </div><br>
    </div>
</div>
<app-footer></app-footer>


