<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 mt-5">
            <div class="card m-3">
                ﻿<h3 class="card-header">Reset Password</h3>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                            <label>Please enter your email address to reset account password</label>
                            <input type="text" formControlName="email" class="form-control" placeholder="Enter your account ID"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                 />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email is invalid</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Get a link on mail
                                </button>
                                <a routerLink="../login" class="btn btn-link">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
