<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 mt-5">
            <div class="card m-3">
                <h3 class="card-header">
                    Change Password
                </h3>
                <div class="card-body">
                    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group col-1"></div>
                        <div class="form-group col-8">
                            <label>Old Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                            <input type="password" formControlName="oldPassword" class="form-control" placeholder="Enter Old Password"
                            [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"
                             />
                            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                            <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 8 characters</div>
                            <div *ngIf="f.oldPassword.errors.pattern">Minimum eight and maximum 40 characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                            </div>
                        </div>
                        <div class="form-group col-1"></div>    
                    <div class="form-group col-8">
                        <label>New Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter New Password"
                        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                         />
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
                        <div *ngIf="f.newPassword.errors.pattern">Minimum eight and maximum 40 characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                        </div>
                    </div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-8">
                        <label>Confirm New Password</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="password" formControlName="confirmNewPassword" class="form-control"  placeholder="Enter Confirm New Password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }"
                        />
                        <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmNewPassword.errors.required">Confirm New Password is required</div>
                            <div *ngIf="f.confirmNewPassword.errors.mustMatch">New Passwords must match</div>
                        </div>
                    </div>
                        <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Change Password
                                </button>
                            <a routerLink="../login" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>