<div class="card m-3">
    ﻿<h3 class="card-header card bg-primary text-white" style="text-align: left;">Organization Information</h3>
    <div class="form-group col-5">
        <button type="button" (click)="reload()" class="btn btn-warning " >Load Information</button>
    </div>
    <div class="card-body" style="text-align: left; color: black;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Last Name of Employer or Authorized Representative</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="lastNameOfEmpOrAuthorizedRepresentative" class="form-control" 
                    placeholder="Last Name of Employer or Authorized Representative"
                    [ngClass]="{ 'is-invalid': submitted && f.lastNameOfEmpOrAuthorizedRepresentative.errors }"
                    [(ngModel)]="org_lastNameOfEmpOrAuthorizedRepresentative"
                     />
                    <div *ngIf="submitted && f.lastNameOfEmpOrAuthorizedRepresentative.errors" class="invalid-feedback">
                        <div *ngIf="f.lastNameOfEmpOrAuthorizedRepresentative.errors.required">
                            Last Name of Employer or Authorized Representative is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>First Name of Employer or Authorized Representative</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="firstNameOfEmpOrAuthorizedRepresentative" class="form-control" 
                    placeholder="First Name of Employer or Authorized Representative"
                    [ngClass]="{ 'is-invalid': submitted && f.firstNameOfEmpOrAuthorizedRepresentative.errors }"
                    [(ngModel)]="org_firstNameOfEmpOrAuthorizedRepresentative"
                    />
                    <div *ngIf="submitted && f.firstNameOfEmpOrAuthorizedRepresentative.errors" class="invalid-feedback">
                        <div *ngIf="f.firstNameOfEmpOrAuthorizedRepresentative.errors.required">
                            First Name of Employer or Authorized Representative is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Employer's Business or Organization Name</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="empBusinessOrOrgName" class="form-control" 
                    placeholder="Employer's Business or Organization Name"
                    [ngClass]="{ 'is-invalid': submitted && f.empBusinessOrOrgName.errors }"
                    [(ngModel)]="org_empBusinessOrOrgName"
                    />
                    <div *ngIf="submitted && f.empBusinessOrOrgName.errors" class="invalid-feedback">
                        <div *ngIf="f.empBusinessOrOrgName.errors.required">
                            Employer's Business or Organization Name is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Title of Employer or Authorized Representative</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="titleOfEmpOrAuthorizedRepresentative" class="form-control" 
                    placeholder="Title of Employer or Authorized Representative"
                    [ngClass]="{ 'is-invalid': submitted && f.titleOfEmpOrAuthorizedRepresentative.errors }"
                    [(ngModel)]="org_titleOfEmpOrAuthorizedRepresentative"
                    />
                    <div *ngIf="submitted && f.titleOfEmpOrAuthorizedRepresentative.errors" class="invalid-feedback">
                        <div *ngIf="f.titleOfEmpOrAuthorizedRepresentative.errors.required">
                            Title of Employer or Authorized Representative is required</div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                    <div class="form-group col-5">
                        <label>The Employee's first day of employment</label><span class="fa fa-star" style="color: red;"> *</span><br>
                        <input type="date" formControlName="firstDayOfEmployment" class="form-control" 
                        placeholder="The Employee's first day of employment"
                        [ngClass]="{ 'is-invalid': submitted && f.firstDayOfEmployment.errors }"
                        [(ngModel)]="org_firstDayOfEmployment"
                        />
                        <div *ngIf="submitted && f.firstDayOfEmployment.errors" class="invalid-feedback">
                            <div *ngIf="f.firstDayOfEmployment.errors.required">
                                The Employee's first day of employment is required</div>
                        </div>
                    </div>
                    <div class="form-group col-1"></div>
                    <div class="form-group col-5">
                        <label>Date of Rehire , if applicable</label><br>
                        <input type="date" formControlName="dateofRehire" class="form-control" 
                        placeholder="Date of Rehire , if applicable"
                        [(ngModel)]="org_dateofRehire"
                        />
                    </div>
            </div><br>
            
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Salary</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="salary" class="form-control" 
                    placeholder="salary"
                    [ngClass]="{ 'is-invalid': submitted && f.salary.errors }"
                    [(ngModel)]="org_salary"
                    />
                    <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                        <div *ngIf="f.salary.errors.required">
                            salary is required</div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Client Name</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="clientName" class="form-control" 
                    placeholder="Client Name"
                    [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }"
                    [(ngModel)]="org_clientName"
                    />
                    <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                        <div *ngIf="f.clientName.errors.required">
                            Client Name is required</div>
                    </div>
                </div>
        </div><br>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Employment Location</label><span class="fa fa-star" style="color: red;"> *</span><br>
                <input type="text" formControlName="employmentLocation" class="form-control" 
                placeholder="Employment Location"
                [ngClass]="{ 'is-invalid': submitted && f.employmentLocation.errors }"
                [(ngModel)]="org_employmentLocation"
                />
                <div *ngIf="submitted && f.employmentLocation.errors" class="invalid-feedback">
                    <div *ngIf="f.employmentLocation.errors.required">
                        Employment Location is required</div>
                </div>
            </div>
            <div class="form-group col-1"></div>
            <div class="form-group col-5">
                <label>Project End Date</label><br>
                <input type="date" formControlName="projectEndDate" class="form-control" 
                [(ngModel)]="org_projectEndDate"
                />
            </div>
    </div><br>

    <div class="form-row">
        <div class="form-group col-5">
            <label>Street Number and Name</label><span class="fa fa-star" style="color: red;"> *</span><br>
            <input type="text" formControlName="streetNumberAndName" class="form-control" 
            placeholder="Street Number and Name"
            [ngClass]="{ 'is-invalid': submitted && f.streetNumberAndName.errors }"
            [(ngModel)]="org_streetNumberAndName"
            />
            <div *ngIf="submitted && f.streetNumberAndName.errors" class="invalid-feedback">
                <div *ngIf="f.streetNumberAndName.errors.required">
                    Street Number and Name is required</div>
            </div>
        </div>
        <div class="form-group col-1"></div>
        <div class="form-group col-5">
            <label>ZIP Code</label><span class="fa fa-star" style="color: red;"> *</span><br>
            <input type="text" formControlName="pinCodeOrZipCode" class="form-control" 
            placeholder="ZIP Code"
            [ngClass]="{ 'is-invalid': submitted && f.pinCodeOrZipCode.errors }"
            [(ngModel)]="org_pinCodeOrZipCode"
            />
            <div *ngIf="submitted && f.pinCodeOrZipCode.errors" class="invalid-feedback">
                <div *ngIf="f.pinCodeOrZipCode.errors.required">
                    ZIP Code is required</div>
            </div>
        </div>
</div><br>
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Country</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select [(ngModel)]="org_country" formControlName="country" class="form-control"
                    (click)="onChangeCountry($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                        <option value="">Select Country</option>
                        <option *ngFor="let c of countryList" [value]="c.name">{{c.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Country is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>State</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select [(ngModel)]="org_state" formControlName="state" class="form-control"
                    (click)="onChangeState($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                        <option value="">Select State</option>
                        <option *ngFor="let s of stateList" [value]="s.name">{{s.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label>Town / City</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <select [(ngModel)]="org_townCity" formControlName="townCity" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.townCity.errors }"
                    >
                    <option value="">Select Town/City</option>
                    <option *ngFor="let c of cityList" [value]="c.name">{{c.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.townCity.errors" class="invalid-feedback">
                        <div *ngIf="f.townCity.errors.required">townCity is required</div>
                    </div>
                </div>
                </div><br>
                <div class="form-row">
                        <div class="form-group col-5">
                            <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                            </button>
                        </div>
                        <div class="form-group col-1"></div>
                        <div class="form-group col-5">
                        <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>