﻿<h6 class="card-header card bg-success text-white" style="text-align: left;">Documents Information</h6>﻿   
<br> 
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Document Title</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="documentTitle" class="form-control" 
                    placeholder="Document Title"
                    [ngClass]="{ 'is-invalid': submitted && f.documentTitle.errors }"
                    [(ngModel)]="doc_documentTitle"
                    />
                    <div *ngIf="submitted && f.documentTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.documentTitle.errors.required">
                            Document Title is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Issuing Authority</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="issuingAuthority" class="form-control" 
                    placeholder="Issuing Authority"
                    [ngClass]="{ 'is-invalid': submitted && f.issuingAuthority.errors }"
                    [(ngModel)]="doc_issuingAuthority"
                    />
                    <div *ngIf="submitted && f.issuingAuthority.errors" class="invalid-feedback">
                        <div *ngIf="f.issuingAuthority.errors.required">
                            Issuing Authority is required
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Document Number</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="documentNumber" class="form-control" 
                    placeholder="Document Number"
                    [ngClass]="{ 'is-invalid': submitted && f.documentNumber.errors }"
                    [(ngModel)]="doc_documentNumber"
                    />
                    <div *ngIf="submitted && f.documentNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.documentNumber.errors.required">
                            Document Number is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <label>Expiration Date</label><br>
                    <input type="date" formControlName="expDate" class="form-control" 
                   
                    [ngClass]="{ 'is-invalid': submitted && f.expDate.errors }"
                    [(ngModel)]="doc_expDate"
                     />
                    <!-- <div *ngIf="submitted && f.ExpDate.errors" class="invalid-feedback">
                        <div *ngIf="f.ExpDate.errors.required">
                            Expiration Date is required</div>
                    </div> -->
                </div>
            </div><br>
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Additional Information</label><span class="fa fa-star" style="color: red;"> *</span><br>
                    <input type="text" formControlName="additionalInfo" class="form-control" 
                    placeholder="Additional Information"
                    [ngClass]="{ 'is-invalid': submitted && f.additionalInfo.errors }"
                    [(ngModel)]="doc_additionalInfo"
                    />
                    <div *ngIf="submitted && f.additionalInfo.errors" class="invalid-feedback">
                        <div *ngIf="f.additionalInfo.errors.required">
                            Additional Information is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-1"></div>
                
            </div><br>
          
              <div class="form-row">
                <div class="form-group col-5">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
                <div class="form-group col-1"></div>
                <div class="form-group col-5">
                    <button type="button" (click)="onReset()" class="btn btn-warning " >Reset</button>
                </div>
            </div>
        </form>

